<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="cn.woblog.android.downloader">

  <application>
    <service android:name="cn.woblog.android.downloader.DownloadService">
      <intent-filter>
        <action android:name="cn.woblog.android.downloader.DOWNLOAD_SERVICE" />
      </intent-filter>
    </service>
  </application>
</manifest>
