<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ixuea.android.downloader">
    <application>
        <service android:name="com.ixuea.android.downloader.DownloadService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.ixuea.android.downloader.DOWNLOAD_SERVICE" />
            </intent-filter>
        </service>
    </application>
</manifest>